
img[alt = Cobrador]{ width: 300px;}
img[alt= Rodolfo]{ width: 300px;}
img[alt= Gor]{ width: 300px;}
img[alt = Ceilandia]{ width: 300px;}
img[alt= Pedregal]{ width: 300px;}
img[alt= Albedo]{ width: 300px;}